@import "./Menu";

.control {
    display: grid;
    grid-template-columns: 18px auto 18px;
    grid-template-rows: 132px 60px auto auto 92px;

    .control__Title {
        grid-column: 1 / span 2;
        grid-row: 1;
        padding-top: 85px;

        .control__title {
            font-size: 25px;
            line-height: 28px;
            color: $color-white;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            text-align: center;
            @include font;
        }

        .control__image {
            background-image: url("../img/svg/signboard-control.svg");
            background-repeat: no-repeat;
            background-position: center;
            height: 35px;
        }

        .control__info {
            display: none;
        }
    }

    .content__video {
        grid-column: 2;
        grid-row: 3 / span 2;
        text-align: center;
        padding-top: 50px;
        z-index: 10;

        iframe {
            position: relative;
            top: 0;
            left: 0;
            width: 50%;
            height: 434px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .control__svg {
        grid-column: 1 / span 3;
        grid-row: 1;
        background: url("./../img/svg/frame.svg");
        background-position: center;
        position: relative;
        top: 266px;
        height: 289px;
        width: 100%;
        z-index: 5;
        padding: 0;
    }

    .content__icon__line {
        grid-column: 2;
        grid-row: 5;
        margin-top: 60px;
        z-index: 10;
        background: no-repeat url("../img/svg/line.svg");
        background-position: center;
        height: 2px;
    }

    .content__description {
        grid-column: 2;
        grid-row: 6;
        text-align: center;
        font-size: 20px;
        font-family: $font_info;
        line-height: 34px;
        color: $color-black;
        margin: 0 auto;
        z-index: 10;
    }

    .substrate {
        grid-column: 1 / span 3;
        grid-row: 4 / span 3;
        position: relative;
        top: 123px;
        background: $content_background;
        z-index: -10;
    }
}
