@import './Menu';

.introduction {
    display: grid;
    grid-template-columns: 70px 165px minmax(auto, auto);
    grid-template-rows: minmax(auto, 730px) 48px 85px;

    .introduction__inner {
        grid-column: 2/span 2;
        grid-row: 1/span 2;
        display: grid;
        grid-template-columns: 60px 228px 228px auto;
        grid-template-rows: 193px 122px 133px auto;


        .introduction__img {
            background-image: url('./../img/home/bg-001.jpg');
            height: 862px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            grid-column: 1 /span 4;
            grid-row: 1 /span 5;
            opacity: 0.4;
        }

        .introduction__title {
            grid-column: 2/span 3;
            grid-row: 2/ span 1;
            text-transform: uppercase;
            letter-spacing: 0.05px;
            color: $color-white;
            font-size: 45px;
            line-height: 53px;
            text-align: left;
            z-index: 1;
            font-family: 'Cabin Condensed', sans-serif;


            em {
                color: $color-gold;
            }
        }

        .introduction__description {
            grid-column: 2/ span 3;
            grid-row: 3/ span 1;
            color: $color-white;
            z-index: 1;
            font-size: 25px;
            line-height: 30px;
            max-width: 500px;
            margin-top: 30px;
        }

        .btn-calculate {
            grid-column: 2;
            grid-row: 4/span 2;
            margin-top: 40px;
            z-index: 1;
            @include a();
            color: $color-white;
            justify-items: center;
            align-items: center;
            -webkit-box-align: center;


        }

        .btn {
            height: 51px;
            width: 207px;
            max-width: 340px;
            border-radius: 2px;
            font-size: 13px;
            display: grid;
            line-height: 15px;
            justify-items: center;
            align-items: center;
            -webkit-box-align: center;
        }


        .btn-application {
            @include a();
            grid-column: 3;
            grid-row: 4/span 2;
            display: flex;
            margin-top: 40px;
            z-index: 1;
            color: $color-white;
            justify-content: center;
            -webkit-box-pack: center;

            span {
                margin-right: 5px;
                width: auto;
            }
        }
    }

    .introduction__box-instagram {
        display: grid;
        grid-row: 1;
        grid-column: 1;

        .inst__box {
            text-transform: uppercase;
            padding-top: 20rem;
            width: 80%;

            p {
                font-size: 1.1em;
                line-height: 16px;
                transform: rotate(90deg);
                color: $color-gold;
                margin: 0;
            }

            img {
                height: 55px;
                margin-top: 50px;
                width: 70px;
            }

        }
    }

    .introduction__box-scroll-down {
        display: grid;
        grid-column: 2/span 2;
        grid-row: 3/span 2;
        position: relative;
        top: 16%;
        background-color: $background-Color;
        width: 184px;
        height: 70px;
        padding: 10px;
        justify-content: center;
        z-index: 1;

        button {
            color: $color-white;
            background-color: $background-Color;
            border: 1px solid transparent;
            display: flex;
            text-transform: uppercase;
            text-align: center;

            P {
                padding-right: 10px;
                font-size: 1.1em;
            }

            img {
                padding-top: 7px;
            }

            &:hover {
                color: $color-gold;
            }
        }
    }
    
}