@import './Menu';

.repair {
    display: grid;
    grid-template-columns: 18px auto auto auto 18px;
    grid-template-rows: 65px 57px auto auto;
    background: $content_background;

    .__title {
        grid-column: 3;
        grid-row: 1;
        font-size: 25px;
        line-height: 28px;
        color: $color-black;
        padding-top: 20px;
        letter-spacing: .2px;
        text-transform: uppercase;
        text-align: center;
        z-index: 10;
    }

    .__image {
        grid-column: 3;
        grid-row: 2;
        text-align: center;
        background-image: url("../img/svg/signboard-repair.svg");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
    }

    .__info {
        display: block;
    }

    .repair__rectangle {
        grid-column: 2/2;
        grid-row: 3;

        .rectangle__img {
            width: 340px;
            height: 400px;
            margin: 0;

            .rectangle__img__one {
                width: 340px;
                height: 400px;
            }
        }

        .rectangle__Redecorating {
            background-color: $color-white;
            width: 230px;
            height: 200px;
            position: relative;
            bottom: 126px;
            left: 21px;
            display: list-item;
            overflow: hidden;

            .rectangle__title {}

            .rectangle__ul {



                .rectangle__li {}
            }
        }



    }
}