// FONTS_GOOGLE
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed&display=swap');
// FONTS_GOOGLE
@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');
// FONT_GOOGLE
@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');


// $

// 000000fd
$background-Color: #000000fd;
//------
$background: #131313;
// content_background_color
$content_background: #ffffff;
// GOLD
$color-gold:rgb(230, 177, 93);

$color-font: #959595;
// WHITE
$color-white: #FFFFFF;
//color-black
$color-black: #363636;
//  HOVER 
$hover-color:rgb(205, 133, 63);
//LIST
$list:#FFFFFF;


//  MIXIN a 
@mixin a() {
    text-decoration: none;
    text-transform: uppercase;
    color: transparent;
}

// MIXIN font
@mixin font() {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
}

// MIXIN Follow Project List image 
@mixin image {
    width: 390px;
    height: 445px;
}

@mixin li {
    font-size: 15px;
    line-height: 25px;
    padding: 2px;
    color: $color-font;
}

@mixin list {
    background-color: $list;
    overflow: hidden;
    position: relative;
    bottom: 140px;
    left: 30px;
    border-radius: 2px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

@mixin title {
    @include font;
    font-size: 22px;
    line-height: 25px;
    position: relative;
    left: 34px;
}

$height-project: 815px;


//-- END ----------