// FONTS_GOOGLE
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed&display=swap');
// FONTS_GOOGLE
@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');
// FONT_GOOGLE
@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');


// $

// 000000fd
$background-Color: #000000fa;
//------
$background: #131313;
// content_background_color
$content_background: #ffffff;
// GOLD
$color-gold:rgb(233, 178, 90);
//
$color-font: #959595;
// WHITE
$color-white: #FFFFFF;
//color-black
$color-black: #363636;
//  HOVER 
$hover-color:rgb(205, 133, 63);
//LIST
$list:#FFFFFF;
// font__info
$font_info:FuturaBookC;



//  MIXIN a 

@mixin a() {
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}

// MIXIN font
@mixin font() {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
}

// MIXIN Follow Project List image 
@mixin image {
    width: 390px;
    height: 445px;
}

@mixin li {
    font-size: 15px;
    line-height: 25px;
    padding: 2px;
    color: $color-font;
}

@mixin list {
    background-color: $list;
    overflow: hidden;
    position: relative;
    bottom: 140px;
    left: 30px;
    border-radius: 2px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

@mixin title {
    @include font;
    font-size: 22px;
    line-height: 25px;
    position: relative;
    left: 34px;
}

$height-project: 815px;


//-- END ----------

// --- our clients ------

@mixin iconClients {
    height: 35px;
    margin: 2px;
    position: relative;
    top: 8px;
    left: 4px;
}

@mixin boxClients {
    background-color: $color-gold;
    border-radius: 1%;
    margin: 2px;
    width: 133px;
    height: 50px;
    display: flex;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

@mixin fontClients {
    @include font;
    font-size: 17px;
    line-height: 24px;
    color: $color-white;
    position: relative;
    left: 38px;
    bottom: 20px;
}

// END ---------

//  ----- Media Queries ------


$mq-mobile-portrait: 320px !default;
$mq-mobile-landscape: 480px !default;
$mq-tablet-portrait: 768px !default;
$mq-tablet-landscape: 1024px !default;
$mq-desktop: 1382px !default;
$mq-desktop-bag: 1920px !default;


@mixin mobile-only {
    @media (max-width : $mq-mobile-landscape) {
        @content;
    }
}