@import './Menu';

// ! Media Queries 480px  

@include mobile-only {

    // ? Start introduction
    .introduction {
        grid-template-columns: minmax(auto, auto);
        grid-template-rows: 100px 450px 70px;
        width: 100%;
        height: 620px;

        .introduction__img {
            grid-column: 1 /span 3;
            grid-row: 1 /span 3;
            height: 620px;
        }

        .introduction__inner {
            margin-left: 25px;

            .introduction__title {
                font-size: 19px;
                line-height: 30px;
            }

            .introduction__description {
                font-size: 16px;
                line-height: 25px;
                max-width: 100%;
            }

            .Link {
                display: block;

                .btn {
                    margin-left: 50px;
                    width: 260px;
                    margin-top: 20px;
                }
            }
        }

        .introduction__box-instagram {
            display: none;
        }

        .introduction__box-scroll-down {
            grid-row: 3/span 1;
            position: relative;
            top: 18px;
            width: 145px;
            height: 53px;
            padding: 0px;

            .btn {
                p {
                    font-size: .9em;
                }
            }
        }
    }

    // ? End introduction

    // ? Start completed
    .completed {
        grid-template-columns: none;
        grid-template-rows: 80px 100px auto 300px;
        padding-top: 17px;
        margin-left: 5px;
        grid-row-gap: 10px;

        .completed__title {
            grid-column: none;
            grid-row: 1/1;
            font-size: 18px;
            text-align: center;

            br {
                display: none;
            }
        }

        .completed__description {
            grid-column: none;
            grid-row: 2/2;
            font-size: 15px;
        }

        .completed__slide__container {
            grid-column: none;
            grid-row: 3/ 3;
            height: 300px;
        }

        .completed__properties {
            grid-column: none;
            grid-row: 4/4;
        }
    }

}